body {
    font-family: Outfit;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
}

article img {
    width: 100%;
    border-radius: 1em;
}

.card-text {
    text-align: center;
    margin: 25px 15px;
}

.card-text h1{
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

.card-text p{
    font-weight: 400;
    font-size: 16px;
    color: hsl(220, 15%, 55%);
}
